{% load static %}

<!-- index.html -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <title>Random Content</title>
</head>
<body>

  <h1>Random Fact</h1>
  <div class="random-fact-card">
    <p>{{ fact }}</p>
  </div>

  <h1>Random Student</h1>
  <div class="random-student-card">
    <p>{{ name }}</p>
  </div>

  <h1>Random Dog Breeds?</h1>
  <img src="{{ dog }}" alt="Random Dog Image">

  <button onclick="window.location.reload();">Refresh</button>

</body>
</html>